.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}

.header-text{
    padding-top: 30px;
    padding-left: 350px;
    color: white;
}

body{
    animation: animate 40s ease-in-out infinite;
}

@keyframes animate {
    0%,100%{
        background-image: url("https://thumbs.dreamstime.com/b/business-meeting-concept-coworkers-team-working-new-startup-project-modern-office-analyze-business-documents-using-touch-tablet-94640997.jpg");
        background-size: cover;
    }
    25%{
        background-image: url("https://previews.123rf.com/images/mangpor2004/mangpor20041611/mangpor2004161100162/66030881-hand-typing-laptop-with-blank-blur-background-on-screen-for-mock-up-technology-lifestyle-digital-mar.jpg");
        background-size: cover;
    }
    50%{
        background-image: url("https://thumbs.dreamstime.com/b/business-people-meeting-office-blurred-image-team-110118415.jpg");
        background-size: cover;
    }
    75%{
        background-image: url("https://st2.depositphotos.com/3840453/9961/i/950/depositphotos_99613130-stock-photo-blurred-background-business-people-having.jpg");
        background-size: cover;
    }
}


.logo{
    object-fit: contain;
    width: 150px;
    height: 150px;
}
.nav-link{
    color: black !important;
}

.nav-link:hover{
    color: white !important;
}

.paragrph{
    margin-left:5%; 
    font-style:italic;
    font-size:x-large;
    color: black;
    border-radius: 50px;
    border: thin;
    margin-top: 10%;
    text-align: left;
}

.h1Header{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 230px;
}

.contacts{
    text-align: center;
    color: purple;
    margin-top: 10px;
    margin-bottom: 10px;
}