.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: teal;
  color: white;
  text-align: center;
}

.header-text{
    padding-top: 30px;
    padding-left: 350px;
    color: white;
}

.body {
    background-color: lightblue;
}


.logo{
    object-fit: contain;
    width: 150px;
    height: 150px;
}
.nav-link{
    color: black !important;
}

.nav-link:hover{
    color: white !important;
}

.paragrph{
    margin-left:5%; 
    font-style:italic;
    font-size:x-large;
    color: black;
    border-radius: 50px;
    border: thin;
    margin-top: 10%;
    text-align: left;
}

.h1Header{
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 230px;
}

.contacts{
    text-align: center;
    color: purple;
    margin-top: 10px;
    margin-bottom: 10px;
}

.errorMessage{
    color:red !important;
}