.link1{
    margin-left: 20%;
    background-color: grey;
    /* text-align: center; */
    width:60%;
    padding-top:50px;
    color: white;
    border-radius: 50px;
    border: thin;
    margin-top: 10%;
    text-align: center;
}

